/* RESET */
*{
	margin:0;
	border:0;
	padding:0;
	box-sizing:border-box;
	list-style:none;
	vertical-align: baseline;
	outline:none;
	text-decoration: none;
	font-family: 'Trebuchet MS' , arial, sans-serif;
}

/* VARIABLES */

.wrapper{
	width: 1200px;
	max-width: 95%;
	margin:0 auto;
}

.clear{
	clear:both;
}

.clearfix:after{
	content:'';
	display:table;
	clear:both;
}

.figure , .img{
	max-width: 100%;
}

html , body{
	height: 100%;
}

body{
	background:#363636;
}

/* STYLE */

.flex{
	display:flex;
	align-items:center;
	justify-content:center;
}

.header{
	padding:30px 0;
}
.logo{
	width: 100px;
}
.nav-container{
	width: calc( 100% - 100px );
	justify-content: flex-end;
}
.nav-link{
	font-size:16px;
	color:#ff611d;
	display:block;
	padding:15px;
}

.main{
	min-height: 100%;
}

.table{
	width: 100%;
	word-break: break-all;
}
.table td , .table th{
	border:1px solid #ff611d;
	padding:10px;
	text-align:center;
	color:#FFF;
}
.table th{
	background: #ff611d;
	text-transform:uppercase;
}
.table a{
	color:#ff611d;
	transition:.2s ease-in-out;
}
.table a:hover{
	color:#FFF;
}

.footer{
	padding:30px 0;
	color:#FFF;
}

.form{
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
}
.form .linha{
	display:block;
	margin:5px auto;
	clear:both;
}
.form .fieldset{
	border:1px solid #ff611d;
}
.form .fd-50{
	width: 49%;
}
.form .fd-50:first-child{
	float:left;
}
.form .fd-50:last-child{
	float:right;
}
.form .fd-100{
	width: 100%;
}
.form .label{
	display:block;
	padding:5px 10px;
	color:#ff611d;
	font-weight:bold;
	text-transform:uppercase;
}
.form .input{
	width: 100%;
	display:block;
	padding:10px;
	background:transparent;
	resize:none;
	font-size:18px;
	color:#ff611d;
}
.button{
	display:block;
	width: 100%;
	background:#ff611d;
	color:#FFF;
	text-transform:uppercase;
	font-size:22px;
	padding: 15px 0;
	cursor:pointer;
	text-align:center;
}
.button:hover{
	opacity:0.9;
}
.button:active{
	box-shadow:inset 6px 6px 8px -2px #ab3300;
}

.listagem .wrapper.flex{
	flex-direction:column;
}
.aluno-dado{
	display:block;
	margin:15px auto;
	color:#FFF;
}
.wd-500{
	max-width: 500px;
}
.mr-tp-200{
	margin-top:50px;
}
.flex-end{
	justify-content: flex-end;
}
@media (max-width: 450px){
	.header .wrapper , .nav-container , .nav-list{
		flex-direction:column;
	}
	.header{
		padding:10px 0;
	}
	.logo{
		margin-bottom:30px;
	}
	.nav-container , .nav-list , .nav-item , .nav-link{
		width: 100%;
		text-align:center;
	}
	.nav-item{
		margin-bottom:5px;
	}
	.nav-link{
		background:#ff611d;
		color:#FFF;
	}
	.form .fd-50{
		float: none !important;
		width: 100%;
	}
	.form .fd-50:last-child{
		margin-top:5px;
	}
}